@font-face {
  font-family: 'poppins';
  src: url(../Poppins/Poppins-ExtraBold.ttf);
}

body {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  width: 327px;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  margin-top: 30px;
  color: #6070ff;
}

.header .logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 38px;
}

.material-icons {
  margin-top: 10px;
  font-size: 28px;
}

.container {
  width: 375px;
  height: 1200px;
  margin: auto;
  background-image: url(header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  border-radius: 0 0 10px 0;
  background-color: #fff;
}

.content {
  padding-top: 30px;
  width: 327px;
  margin: auto;
}

.content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-top: 40px;
  color: #344563;
  margin-bottom: 0;
}

.content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

span {
  color: #6070ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  top: 15px;
}

.icons {
  width: 329px;
  top: 20px;
  position: relative;
  right: 40px;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}

.icons .icon2 {
  position: absolute;
  right: 142px;
  top: 2px;
}

.icons .icon3 {
  position: absolute;
  right: 142px;
}

.icons .icon4 {
  position: absolute;
  right: 135px;
}

.icons .icon5 {
  position: absolute;
  right: 116px;
}

.icons .icon6 {
  position: absolute;
  right: 100px;
}

.icons .icon7 {
  position: absolute;
  right: 85px;
}

.cards {
  width: 375px;
  height: 4200px;
  background-color: #e5e5e5;
  margin-top: 130px;
  display: flex;
}

.cards .card1 {
  width: 327px;
  height: 552px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  border-radius: 10px;
}

.card1 img {
  width: 295px;
  height: 220px;
  margin-top: 16px;
  margin-left: 16px;
}

.cards h1 {
  position: relative;
  left: 16px;
  bottom: 15px;
  font-size: 35px;
}

.cards h2 {
  position: relative;
  left: 16px;
  bottom: 40px;
  font-size: 13px;
}

.cards .date {
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  padding-top: 0;
  position: relative;
  bottom: 83px;
  color: #7a869a;
}

.cards p {
  width: 295px;
  height: 76px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  bottom: 98px;
  left: 16px;
}

.language li {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  list-style-type: none;
  padding: 4px 13px;
  border-radius: 10px;
  background-color: #ebebff;
  color: #6070ff;
  display: inline-block;
  position: relative;
  bottom: 112px;
  right: 22px;
}

.card1 button {
  width: 102px;
  height: 24;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #396df2;
  border: 1px  solid #396df2;
  padding: 10px 6px;
  border-radius: 10px;
  position: relative;
  bottom: 110px;
  left: 16px;
  background-color: #fff;
}

.cards .card2 {
  width: 327px;
  height: 596px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
}

.cards .card3 {
  width: 327px;
  height: 552px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 116px auto;
  border-radius: 10px;
}

.cards .card4 {
  width: 327px;
  height: 596px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
}

.about {
  width: 375px;
  height: 1400px;
  background-color: white;
  border-radius: 0 50px 0 0;
  margin-top: 116px;
  padding-top: 60px;
  position: relative;
  right: 24px;
}

.about p {
  margin-top: 85px;
}

.icons_2 li a img {
  width: 17.99px;
  height: 20px;
  position: relative;
  top: 10px;
}

.icons_2 li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  right: 40px;
  bottom: 8px;
}

.icons_2 li .icon2 {
  width: 6px;
  height: 14px;
}

.icons_2 li .icon3 {
  width: 6px;
  height: 6px;
  position: relative;
  right: 12.5px;
  bottom: 12px;
}

.icons_2 li .icon4 {
  width: 15px;
  position: relative;
  right: 21px;
}

.icons_2 li .icon5 {
  position: relative;
  right: 20px;
}

.icons_2 li .icon6 {
  position: relative;
  right: 20px;
}

.icons_2 li .icon7 {
  position: relative;
  right: 20px;
}

.about button {
  width: 140px;
  height: 40px;
  position: relative;
  top: 5px;
}

.about h2 {
  width: 237px;
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  margin-top: 80px;
}

.about .Union {
  width: 14px;
  height: 8px;
  position: relative;
  left: 240px;
  bottom: 80px;
}

.about .languages {
  width: 303px;
  height: 66.78px;
  background-color: #f7f7f9;
  color: #000;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  bottom: 60px;
}

.about .languages img {
  width: 48px;
  height: 48px;
  background-color: #f7f7f9;
  margin: 10px 10px;
}

.about .languages h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  bottom: 69px;
  left: 80px;
}

.about h3 {
  width: 327px;
  height: 24px;
  font-size: 24;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  border-bottom: 2px solid #dfe1e6;
  padding: 15px;
  position: relative;
  bottom: 60px;
}

.about .Union1 {
  width: 6px;
  height: 12px;
  position: relative;
  left: 240px;
  bottom: 130px;
  display: inline-block;
}

.about .skill {
  position: relative;
  bottom: 60px;
}
